{{! template-lint-disable }}
{{!-- BEGIN-SNIPPET validated-input --}}
<div
  class="validated-input {{if this.showErrorClass "has-error"}} {{if this.isValid "has-success"}}"
  {{on "focusout" this.onFocusOut}}
  ...attributes
>
  <div class='form-group'>
    <input
      class="form-control"
      value={{@value}}
      name={{@valuePath}}
      placeholder={{@placeholder}}
      type={{@type}}
      {{on "change" this.onInput}}
    />
    {{#if isValid}}
      <span class='valid-input fa fa-check'></span>
    {{/if}}

    <div class='input-error'>
      {{#if showErrorMessage}}
        <div class='error'>
          {{this.validation.message}}
        </div>
      {{/if}}

      {{#if showWarningMessage}}
        <div class='warning'>
          {{this.validation.warningMessage}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{!-- END-SNIPPET --}}
