{{! template-lint-disable }}

<div class='form'>
  {{#unless this.isRegistered}}
    <div class='register'>
      <h2>Create an Account</h2>

      {{#if this.showAlert}}
        <div class='alert'>
          <div class='fa fa-times icon-remove' {{on "click" (fn this.toggleProperty 'showAlert')}}></div>
          Please fix all the errors below before continuing.
        </div>
      {{/if}}
      <form>
        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info left'>
              These form inputs are bound to the <strong>User</strong> model which is created in the route's model
              hook. Each one of these fields has validations to make sure we we receive the data we want.
            </div>
          {{/unless}}

          <ValidatedInput
            @model={{this.model}}
            @valuePath='username'
            placeholder='Username'
            @didValidate={{this.didValidate}}
            data-test-username=''
          />
          <ValidatedInput
            @type='password'
            @model={{this.model}}
            @valuePath='password'
            placeholder='Password'
            @didValidate={{this.didValidate}}
            data-test-password=''
          />
          <ValidatedInput
            @model={{this.model}}
            @valuePath='email'
            placeholder='Email'
            @didValidate={{this.didValidate}}
            data-test-email=''
          />
          <ValidatedInput
            @model={{this.model}}
            @valuePath='emailConfirmation'
            placeholder='Verify Email'
            @didValidate={{this.didValidate}}
            data-test-email-confirmation=''
          />
        </div>

        <h4> About Me</h4>

        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info right'>
              We have a secondary model, <strong>User Details</strong>, which holds extra information about our user.
              This model is part of the <strong>User</strong> model via a belongsTo relationship.
            </div>
          {{/unless}}

          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='firstName'
            placeholder='First Name'
            @didValidate={{this.didValidate}}
            data-test-first-name=''
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='lastName'
            placeholder='Last Name'
            @didValidate={{this.didValidate}}
            data-test-last-name=''
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='dob'
            placeholder='Date of Birth'
            @didValidate={{this.didValidate}}
            data-test-dob=''
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='phone'
            placeholder='Phone #'
            @didValidate={{this.didValidate}}
            data-test-phone=''
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='url'
            placeholder='URL'
            @didValidate={{this.didValidate}}
            data-test-url=''
          />
        </div>
        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info left last'>
              On submit, a manual validation is run which will validate both the <strong>User</strong> and <strong>User
                Details</strong> models. If both are valid, then the user can continue to the next screen.
            </div>
          {{/unless}}
          <button id='signup' {{on "click" this.validate}} data-test-sign-up>Sign Up</button>
        </div>
      </form>
    </div>
  {{else}}
    <div class='registered'>
      {{!-- <img class='tomster' src='images/tomsterzilla.jpeg' alt='' data-test-tomster> --}}
      <div class='fa fa-check-circle icon-success'></div>
      <h2 class='success'>Success</h2>
    </div>
  {{/unless}}
  <footer>
    {{#unless this.isRegistered}}
      <a class='show-code bottom' {{on "click" (fn this.toggleProperty 'showCode')}}><i class='fa fa-code'></i> {{if this.showCode 'Hide Code' 'Show Code'}}
        <i class='fa fa-code'></i></a>
    {{else}}
      <a class='show-code bottom' {{on "click" this.reset}}>Reset Form</a>
    {{/unless}}
  </footer>
</div>

{{#unless this.isRegistered}}
  <div class='snippet-container {{if this.showCode 'show'}}'>
    <BsTab as |tab|>
      <tab.pane @title="models/user.js">
        {{get-code-snippet 'user-model.js'}}
      </tab.pane>

      <tab.pane @title="models/user-detail.js">
        {{get-code-snippet 'user-detail-model.js'}}
      </tab.pane>

      <tab.pane @title="ValidatedInput.js">
        {{get-code-snippet 'ValidatedInput.js'}}
      </tab.pane>

      <tab.pane @title="ValidatedInput.hbs">
        {{get-code-snippet 'ValidatedInput.hbs'}}
      </tab.pane>
    </BsTab>
  </div>
{{/unless}}
