<div class="form">
  {{#unless isRegistered}}
    <div class="register" style="display: block;">
      <h2>Create an Account</h2>

      {{#if showAlert}}
        <div class="alert">
          <div class="fa fa-times icon-remove" {{action 'dismissAlert'}}></div>
          Please fix all the errors below before continuing.
        </div>
      {{/if}}
      <form>
        <div class="section">
          {{#unless showCode}}
            <div class="section-info left">
              These form inputs are bound to the <strong>User</strong> model which is created in the route's model hook. Each one of these fields has validations to make sure we we recieve the data we want.
            </div>
          {{/unless}}

          {{validated-input model=model valuePath='username' placeholder='Username'}} {{validated-input type='password' model=model valuePath='password' placeholder='Password'}} {{validated-input model=model valuePath='email' placeholder='Email'}} {{validated-input
          model=model valuePath='emailConfirmation' placeholder='Verify Email'}}
        </div>

        <h4> About Me</h4>

        <div class="section">
          {{#unless showCode}}
            <div class="section-info right">
              We have a secondary model, <strong>User Details</strong>, which holds extra information about our user. This model is part of the <strong>User</strong> model via a belongsTo relationship.
            </div>
          {{/unless}}

          {{validated-input model=model.details valuePath='firstName' placeholder='First Name'}} {{validated-input model=model.details valuePath='lastName' placeholder='Last Name'}} {{validated-input model=model.details valuePath='dob' placeholder='Date of Birth'}}
          {{validated-input model=model.details valuePath='phone' placeholder='Phone #'}} {{validated-input model=model.details valuePath='url' placeholder='URL'}}
        </div>
        <div class="section">
          {{#unless showCode}}
            <div class="section-info left last">
              On submit, a manual validation is run which will validate both the <strong>User</strong> and <strong>User Details</strong> models. If both are valid, then the user can continue to the next screen.
            </div>
          {{/unless}}
          <button id="signup" {{action 'submit'}}>Sign Up</button>
        </div>
      </form>
    </div>
    {{else}}
      <div class="registered" style="display: block;">
        <img class="tomster" src="images/tomsterzilla.jpeg" alt="">
        <div class="fa fa-check-circle icon-success"></div>
        <h2 class="success">Success</h2>
      </div>
  {{/unless}}
  <footer>
     <a class="show-code bottom" {{action 'showCode'}}><i class="fa fa-code"></i> {{if showCode 'Hide Code' 'Show Code'}} <i class="fa fa-code"></i></a>
  </footer>
</div>


<div class="snippet-container {{if showCode 'show'}}">
   <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"><a href="#user-model" aria-controls="user-model" role="tab" data-toggle="tab">models/user.js</a></li>
     <li role="presentation"><a href="#user-detail-model" aria-controls="user-detail-model" role="tab" data-toggle="tab">model/user-detail.js</a></li>
     {{!-- <li role="presentation"><a href="#template" aria-controls="template" role="tab" data-toggle="tab">template.hbs</a></li>
     <li role="presentation"><a href="#user-avatar" aria-controls="user-avatar" role="tab" data-toggle="tab">user-avatar.hbs</a></li>
     <li role="presentation"><a href="#table-loader" aria-controls="table-loader" role="tab" data-toggle="tab">table-loader.hbs</a></li> --}}
   </ul>
   <div class="tab-content">
     <div role="tabpanel" class="tab-pane fade in active" id="user-model">{{code-snippet name="user-model.js"}}</div>
     <div role="tabpanel" class="tab-pane fade" id="user-detail-model">{{code-snippet name="user-detail-model.js"}}</div>
     {{!-- <div role="tabpanel" class="tab-pane fade" id="template">{{code-snippet name="simple-table.hbs"}}</div>
     <div role="tabpanel" class="tab-pane fade" id="user-avatar">{{code-snippet name="user-avatar.hbs"}}</div>
     <div role="tabpanel" class="tab-pane fade" id="table-loader">{{code-snippet name="table-loader.hbs"}}</div> --}}
   </div>
</div>
