<div class='form'>
  {{#if this.isRegistered}}
    <div class='registered'>
      <div class='fa fa-check-circle icon-success'></div>
      <h2 class='success'>Success</h2>
    </div>
  {{else}}
    <div class='register'>
      <h2>Create an Account</h2>

      {{#if this.showAlert}}
        <div class='alert'>
          <button
            type='button'
            class='fa fa-times icon-remove'
            {{on 'click' (fn this.toggleProperty 'showAlert')}}
          ></button>
          Please fix all the errors below before continuing.
        </div>
      {{/if}}
      <form>
        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info left'>
              These form inputs are bound to the
              <strong>User</strong>
              model which is created in the route's model hook. Each one of
              these fields has validations to make sure we we receive the data
              we want.
            </div>
          {{/unless}}

          <ValidatedInput
            @model={{this.model}}
            @valuePath='username'
            @didValidate={{this.didValidate}}
            placeholder='Username'
            data-test-username
          />
          <ValidatedInput
            @type='password'
            @model={{this.model}}
            @placeholder='Password'
            @valuePath='password'
            didValidate={{this.didValidate}}
            data-test-password
          />
          <ValidatedInput
            @model={{this.model}}
            @valuePath='email'
            @didValidate={{this.didValidate}}
            placeholder='Email'
            data-test-email
          />
          <ValidatedInput
            @model={{this.model}}
            @valuePath='emailConfirmation'
            @didValidate={{this.didValidate}}
            placeholder='Verify Email'
            data-test-email-confirmation
          />
        </div>

        <h4> About Me</h4>

        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info right'>
              We have a secondary model,
              <strong>User Details</strong>, which holds extra information about
              our user. This model is part of the
              <strong>User</strong>
              model via a belongsTo relationship.
            </div>
          {{/unless}}

          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='firstName'
            @didValidate={{this.didValidate}}
            placeholder='First Name'
            data-test-first-name
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='lastName'
            @didValidate={{this.didValidate}}
            placeholder='Last Name'
            data-test-last-name
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='dob'
            @didValidate={{this.didValidate}}
            placeholder='Date of Birth'
            data-test-dob
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='phone'
            @didValidate={{this.didValidate}}
            placeholder='Phone #'
            data-test-phone
          />
          <ValidatedInput
            @model={{this.model.details}}
            @valuePath='url'
            @didValidate={{this.didValidate}}
            placeholder='URL'
            data-test-url
          />
        </div>
        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info left last'>
              On submit, a manual validation is run which will validate both the
              <strong>User</strong>
              and
              <strong>User Details</strong>
              models. If both are valid, then the user can continue to the next
              screen.
            </div>
          {{/unless}}
          <button
            id='signup'
            type='button'
            {{on 'click' this.validate}}
            data-test-sign-up
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  {{/if}}

  <footer>
    {{#if this.isRegistered}}
      <button type='button' class='show-code bottom' {{on 'click' this.resetModel}}>
        Reset Form
      </button>
    {{else}}
      <button
        type='button'
        class='show-code bottom'
        {{on 'click' (fn this.toggleProperty 'showCode')}}
      >
        <i class='fa fa-code'></i>
        {{if this.showCode 'Hide Code' 'Show Code'}}
        <i class='fa fa-code'></i>
      </button>
    {{/if}}
  </footer>
</div>

{{#unless this.isRegistered}}
  <div class='snippet-container {{if this.showCode "show"}}'>
    <BsTab as |tab|>
      <tab.pane @title='models/user.js'>
        <CodeSnippet @name='user-model.js' />
      </tab.pane>

      <tab.pane @title='models/user-detail.js'>
        <CodeSnippet @name='user-detail-model.js' />
      </tab.pane>

      <tab.pane @title='validated-input.js'>
        <CodeSnippet @name='validated-input.js' />
      </tab.pane>

      <tab.pane @title='validated-input.hbs'>
        <CodeSnippet @name='validated-input.hbs' />
      </tab.pane>
    </BsTab>
  </div>
{{/unless}}