{{! template-lint-disable }}

<div class='form'>
  {{#unless this.isRegistered}}
    <div class='register'>
      <h2>Create an Account</h2>

      {{#if this.showAlert}}
        <div class='alert'>
          <div class='fa fa-times icon-remove' {{on "click" (fn this.toggleProperty 'showAlert')}}></div>
          Please fix all the errors below before continuing.
        </div>
      {{/if}}
      <form {{on "submit" this.preventDefault}}>
        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info left'>
              These form inputs are bound to the <strong>User</strong> model which is created in the route's model
              hook. Each one of these fields has validations to make sure we we receive the data we want.
            </div>
          {{/unless}}

          <ValidatedInput
            @model={{this.model}}
            @value={{this.model.username}}
            @valuePath='username'
            @placeholder='Username'
            @didValidate={{this.didValidate}}
            data-test-username=''
            @onInput={{fn (mut this.model.username)}}
          />
          <ValidatedInput
            @type='password'
            @model={{this.model}}
            @value={{this.model.password}}
            @valuePath='password'
            @placeholder='Password'
            @didValidate={{this.didValidate}}
            data-test-password=''
            @onInput={{fn (mut this.model.password)}}
          />
          <ValidatedInput
            @model={{this.model}}
            @value={{this.model.email}}
            @valuePath='email'
            @placeholder='Email'
            @didValidate={{this.didValidate}}
            data-test-email=''
            @onInput={{fn (mut this.model.email)}}
          />
          <ValidatedInput
            @model={{this.model}}
            @value={{this.model.emailConfirmation}}
            @valuePath='emailConfirmation'
            @placeholder='Verify Email'
            @didValidate={{this.didValidate}}
            data-test-email-confirmation=''
            @onInput={{fn (mut this.model.emailConfirmation)}}
          />
        </div>

        <h4> About Me</h4>

        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info right'>
              We have a secondary model, <strong>User Details</strong>, which holds extra information about our user.
              This model is part of the <strong>User</strong> model via a belongsTo relationship.
            </div>
          {{/unless}}

          <ValidatedInput
            @model={{this.model.details}}
            @value={{this.model.details.firstName}}
            @valuePath='firstName'
            @placeholder='First Name'
            @didValidate={{this.didValidate}}
            data-test-first-name=''
            @onInput={{fn (mut this.model.details.firstName)}}
          />
          <ValidatedInput
            @model={{this.model.details}}
            @value={{this.model.details.lastName}}
            @valuePath='lastName'
            @placeholder='Last Name'
            @didValidate={{this.didValidate}}
            data-test-last-name=''
            @onInput={{fn (mut this.model.details.lastName)}}
          />
          <ValidatedInput
            @model={{this.model.details}}
            @value={{this.model.details.dob}}
            @valuePath='dob'
            @placeholder='Date of Birth'
            @didValidate={{this.didValidate}}
            data-test-dob=''
            @onInput={{fn (mut this.model.details.dob)}}
          />
          <ValidatedInput
            @model={{this.model.details}}
            @value={{this.model.details.phone}}
            @valuePath='phone'
            @placeholder='Phone #'
            @didValidate={{this.didValidate}}
            data-test-phone=''
            @onInput={{fn (mut this.model.details.phone)}}
          />
          <ValidatedInput
            @model={{this.model.details}}
            @value={{this.model.details.url}}
            @valuePath='url'
            @placeholder='URL'
            @didValidate={{this.didValidate}}
            data-test-url=''
            @onInput={{fn (mut this.model.details.url)}}
          />
        </div>
        <div class='section'>
          {{#unless this.showCode}}
            <div class='section-info left last'>
              On submit, a manual validation is run which will validate both the <strong>User</strong> and <strong>User
                Details</strong> models. If both are valid, then the user can continue to the next screen.
            </div>
          {{/unless}}
          <button id='signup' {{on "click" this.validate}} data-test-sign-up>Sign Up</button>
        </div>
      </form>
    </div>
  {{else}}
    <div class='registered'>
      {{!-- <img class='tomster' src='images/tomsterzilla.jpeg' alt='' data-test-tomster> --}}
      <div class='fa fa-check-circle icon-success'></div>
      <h2 class='success'>Success</h2>
    </div>
  {{/unless}}
  <footer>
    {{#unless this.isRegistered}}
      <a class='show-code bottom' {{on "click" (fn this.toggleProperty 'showCode')}}><i class='fa fa-code'></i> {{if this.showCode 'Hide Code' 'Show Code'}}
        <i class='fa fa-code'></i></a>
    {{else}}
      <a class='show-code bottom' {{on "click" this.reset}}>Reset Form</a>
    {{/unless}}
  </footer>
</div>

{{#unless this.isRegistered}}
  <div class='snippet-container {{if this.showCode 'show'}}'>
    <BsTab as |tab|>
      <tab.pane @title="models/user.js">
        {{get-code-snippet 'user-model.js'}}
      </tab.pane>

      <tab.pane @title="models/user-detail.js">
        {{get-code-snippet 'user-detail-model.js'}}
      </tab.pane>

      <tab.pane @title="validated-input.js">
        {{get-code-snippet 'validated-input.js'}}
      </tab.pane>

      <tab.pane @title="validated-input.hbs">
        {{get-code-snippet 'validated-input.hbs'}}
      </tab.pane>
    </BsTab>
  </div>
{{/unless}}
